<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="container">
        <h2><%= title %></h2>
        <div class="form-container">
            <div class="headertext">JOIN VIDEO REVIEW</div>
                <form id="view-review-form">
                    <input type="text" id="view-review-name" placeholder="Review Name" required autocomplete="off" />
                    <input type="password" id="view-review-password" placeholder="Password" required autocomplete="off" />
                    <input type="text" id="username" placeholder="Your Name" required autocomplete="off" />
                    <button type="submit" id="submit">Join Review</button>
                </form>
            </div>
            <div class="textstuff">
            Made by David Guvå. <p>Visit <a href="https://github.com/davidguva/OpenVidReview">https://github.com/davidguva/OpenVidReview</a> for more information and source code.
        </div>
        </div>
    <script src="/js/main.js"></script>
</body>
</html>