/* CSS Stylesheet for OpenReview */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #747474;
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #7253ff;
    font-size: 28px;
    margin-bottom: 20px;
}

.form-container {
    background-color: #fafafa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.headertext {
    font-size: 20px;
    color: #000000;
    margin-bottom: 15px;
}

.textstuff {
    text-align: justify;
    text-align: center;
    font-size: 12px;
    color: #000000;
    margin-top: 15px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"], input[type="password"], button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 80%;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #7253ff;
    outline: none;
}

button {
    background-color: #7253ff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50%;
}

button:hover {
    background-color: #281e55;
}

@media (max-width: 600px) {
    .container {
        width: 95%;
        padding: 20px;
    }

    input[type="text"], input[type="password"], button {
        width: 100%;
    }
}
